*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
}

.purple-banner{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        width: 610px;
        height: auto;
        padding: 10px;
        border:none;
        border-radius: 30px;
        backdrop-filter: blur(12px);
        background-color: #8858ed;
        box-shadow: 0 10px 40px rgba(0, 1, 0, 1);
}

