@mixin white-button{
    padding: 12px 24px;
    border: 2px solid #8858ed;
    color: #8858ed;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        background: #8858ed;
        color: white;
        border: 2px solid #fff;
    }
}

@mixin add-to-cart{
    padding: 10px 60px;
    border: none;
    color: #fff;
    background: #8858ed;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        background: #fff;
        color: #8858ed;
        text-decoration: underline;
        border: 1px solid #fff;
    }
}