.header {
  width: 100%;
  min-height: 100px;
  padding: 10px 0;
  background: url("../images/Header purple background.avif") center / cover no-repeat;
  display: flex;
  position: relative;

  &__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 50px;
      height: 50px;
      
    }

    span {
      @include montserrat(32px, 700);
      color: #fff;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }

  &__nav a {
    @include roboto(18px, 500);
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 26px;
      height: 26px;
      
    }
  }

  &__icons img {
    width: 24px;
    height: 24px;
    
  }

  &__icons .icon-btn{
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  }

  

}
.header__burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;

  span {
    width: 26px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
  }
}
@media (max-width: 768px) {

  .header {
    position: relative;
  }

  .header__burger {
    display: flex;
  }

  .header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #2d024a;
    padding: 30px 20px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.3s ease;
    z-index: 10;
  }

  .header__nav ul {
    flex-direction: column;
    gap: 20px;
  }

  .header__nav.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

