.h1{
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.h2{
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.h3{
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 700;
}