.main-cart{
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 20px;

    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 60px;

    .cart-extras{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin-top: 20px;
        button{
            
            background: none;
            border: none;
            color: #9b7cff;
            font-size: 16px;
            font-weight: 100;
            
        }
    }
}

.view-cart-body{
    background-color: #000;
}

.view-cart{
    width: 100%;
    padding: 10px 0;
}

.cart{
    h2{
        @include montserrat (20px, 200);
        margin-bottom: 20px;
    }
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 24px 0;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;

    .cart-left{
        display: flex;
        gap: 20px;
    }

    .cart-right{
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: flex-end;

         .quantity{
         padding: 5px 30px;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 10px;
         
         
        
       span{
         font-size: 16px;
       }
    }

    .remove{
        background: none;
        border: none;
    }
    }

    img{
        max-width: 100px;
        border: 1px solid #2a2a2a;
    }

    .namePrice{
        display: flex;
        flex-direction: column;
        gap: 10px;

        p{
            font-size: 16px;
            font-weight: 200;
        }
        
    }

   
}

.summary{
    padding: 11px 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: sticky;
    top: 40px;

    

    h3{
        @include montserrat (20px, 200);
        border-bottom: 1px solid #2a2a2a;
        padding: 5px 0;
    }

  

    span{
        @include roboto (16px, 200)
    }

    .display{
        display: flex;
        justify-content: space-between;
    }

    button{
        @include add-to-cart;
        
    }

    .secure{
        text-align: center;
        font-size: 12px;
    }
}

@media (max-width:1024px){
    .main-cart{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .summary{
        position: static;
        padding-top: 30px;
        border-top: 1px solid #2a2a2a;
    }
}

@media (max-width: 600px) {
  .cart-item {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .cart-left {
    width: 100%;
    gap: 14px;
  }

  .cart-left img {
    max-width: 80px;
  }

  /* RIGHT SIDE */
  .cart-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 12px;
  }

  /* Quantity pushed right */
  .cart-right .quantity {
    margin-left: 100px;
    
  }

  /* Amount pushed right */
  .item-total {
    margin-left: auto;
    font-size: 14px;
    font-weight: 500;
  }

  /* BIN TOP RIGHT */
  .cart-right .remove {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 18px;
  }
}
