<footer>
    <hr>
    <h3 class="title">We accept the following paying methods</h3>
    <div class="footer1">
      <img src="images/Visa.avif" alt="visacard">
      <img src="images/brand-mastercard@3x.avif" alt="mastercard">
      <img src="images/brand-amex@3x.avif" alt="brand-amex">
      <img src="images/brand-chinaunionpay@3x.avif" alt="brand-chinaunionpay">
      <img src="images/brand-jcb@3x.avif" alt="brand-jcb">
      <img src="images/Diners.avif" alt="Diners">
      <img src="images/Discover.avif" alt="Discover">
      <img src="images/PayPal.avif" alt="PayPal">
    </div>
  </footer>