.cart-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 99;

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}